.intro {
    position: relative;
    background-image: url("../images/intro-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.intro__dark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.67);
}

.intro__type {
    display: flex;
    gap: 0.32em;
    font-size: 2.8em;
    font-weight: bold;
    color: white;
    justify-content: center;    
    padding: 130px;
}

@keyframes blink {
    from {
      opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.intro__type .underscore {
    animation: blink;
    /* 애니메이션 가져오기 */
    animation-duration: 600ms;
    /* 깜박이는 시간을 설정할수 있는것 */
    animation-iteration-count: infinite;
    /* 무한으로 설정 */
    animation-duration: alternate;
    /* 깜박이는 효과 */
    }
    [class^="intro__title"] {
      position: absolute;
      bottom: 0;
      
      left: 0;
      width: 100%;
      /* 너비 */
      height: 25%;
      background-color: darkviolet;
      clip-path: polygon(100% 90%, 100% 100%, 0 100%, 0 0);

    }

    .intro__title__flip {
        clip-path:polygon(100% 0, 100% 100%, 0 100%, 0 90%);
        opacity: 0.5;
        /* 투명도 조절하는것 */
    }

@media (max-width: 768px) {
 .intro{
    height: 100vh;
 }
  .intro__type{
    margin-top: 36vh;
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 769px) {
 .intro {
    height: 500px;
 }
 .intro__type {
    margin-top: 172px;
    align-items: center;
 }
 
 .intro__type span{
    display: inline-block;
    vertical-align: 0.25em;
 }
}
